/* 공통 */
*{padding: 0; margin: 0;}
ul,li{list-style: none;}
.inner{width: 90%; margin: 0 auto;}
body {font-family: NotoSansCJKkr; overflow-x: hidden;}
a{text-decoration: none;}
html{font-size: 62.5%;}

@font-face {font-family: 'NotoSansCJKkr-Medium';
    src: url("fonts/NotoSansCJKkr-Medium.otf") format("opentype");}

/* header */
#header{width: 100%; height:68px; line-height: 68px; position: relative; }
#header>.inner{width: 94%;}
.logo{width: 60px; height: 32px; float: left; margin-top: 10px; position: absolute;}
.menu{width: 94%; float: right;}
#header.inner:after{display: block; content: ""; clear: both;}
.menu>li{float: left; text-align: center; width: 85px; color: #555555; font-size: 1.5rem; font-family: 'NotoSansCJKkr-Medium'; position: relative;}
.menu>li>a{color:#555}
.menu>li>a:hover{color: #ffcd38; cursor: pointer; }
.submenu{background-color: rgba(255, 255, 255, 0.8); position: absolute; transition: all 0.5s; opacity: 0; z-index: 3; height: 340px;}
.menu>li:hover .submenu{opacity: 1;}
.submenu>li{width: 200px; }
.submenu>li>a{color: #262626;}
.submenu>li>a:hover{color: #ffcd38;}
.submenu>li:hover{background-color: #fff; transition: all 0.5s;}
.menu:after{display: block; content: ""; clear: both;}
.mobile_menu{display: none;}

a.close{
    width: 35px; height: 35px;
    position: absolute; right: 10px; top: 15px; color: #000;
    line-height: 35px; text-align: center; 
}
a.close>img{width: 85%;}

.left_gnbWrap{
    height: 100%;
    width: 200px;
    position: fixed; left: -200px; top: 0;
    background-color: #fff;
    padding-top: 50px;
    z-index: 999;
    transition: all 0.3s;
    
}
.left_gnbWrap.on{
    left:0;
    box-shadow: 0px 0px 20px -5px #000;
}
.left_gnb>li{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
}

.left_gnb>li>a{
    display: block; text-align: left; line-height: 50px;
    height: 50px; background-color: #fff;
    color: black; font-weight:700; margin-left: 18%;
    font-size: 1.4rem;
}
.left_gnb>li>a.on{
    
}
.left_gnb>li>ul{
    display: none;
}
.left_gnb>li>ul>li>a{
    display: block; text-align: left; line-height: 50px;
    height: 50px; 
    margin-left: 32%;
    color: #555;
    font-size: 1.5rem;
}



/* mainimg */
#mainimg{width: 100%; height: 777px; overflow: hidden; }
#mainimg>.inner{width: 94%; position: absolute; margin: 0 auto; top: 5%; left: 0; right: 0;}
.maintext{padding-top: 490px; color: #fff; position: absolute;}
.maintext>p{padding-bottom: 10px; letter-spacing: 2px; padding-left: 5px; font-size: 1.5rem; font-family: 'NotoSansCJKkr-Medium';}
.maintext>h1{font-size: 4.8rem; letter-spacing: -1.5px; font-family: 'NotoSansCJKkr-Regular'; font-weight: 400;} 
.mainbtn{width: 145px; height: 45px; background-color: #ffcd38; margin-top: 20px; cursor: pointer; transition:0.5s all; overflow:hidden; }
.mainbtn:hover{transform:scale(1.0); background-color: #ffac00; }
.mainbtn:after{content:''; position: absolute; top: calc(50% - 50px); left: -50px; width: 20px; height: 100px; background: white; -webkit-transform: rotate(30deg); transform:rotate(30deg); -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1); opacity: 0;}
.mainbtn:hover:after{left: calc(100% + 50px); opacity: 1;}
.mainbtn>p{ height: 45px; line-height: 45px; text-align: center;  font-size: 1.6rem; font-weight: 700;}
.mainbtn>p>a:hover{color: #262626; }
.mainbtn>p>a{color: #262626;}


    .slideshow{
        width:100%;
        height: 777px;
        position:relative;
        display:inline-block;
        /* ie7以下用 inline-block */
        *display:inline; 
        *zoom:1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; 
    }

    .slideshow img{
        position:absolute;
        top:0;
        left:0;
    }

    .slideshow img.alt{
        display:none;
    }

    
.text-shadow-drop-bottom {
	-webkit-animation: text-shadow-drop-bottom 0.3s both;
	        animation: text-shadow-drop-bottom 0.3s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-7-25 15:46:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation text-shadow-drop-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes text-shadow-drop-bottom {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 7px 14px rgba(0, 0, 0, 0.8);
    }
  }
  @keyframes text-shadow-drop-bottom {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 7px 14px rgba(0, 0, 0, 0.8);
    }
  }
  

/* subtitle */
#subtitle{width: 100%; height: 257px;position: relative; }
.sto_text>h1{color: #555555; position: absolute; z-index: 2; left: 0; right: 0; margin: 0 auto; text-align: center; font-size: 3.8rem; color: #fff; font-weight: 100; line-height: 0; letter-spacing: -1px; padding-top: 7%;}
.sto_img{position: absolute; left: 0; right: 0;}
.sto_img>img{width: 100%;}
.sto_img_m{display: none;}
.sto_text_m{display: none;}
.off_text>h1{color: #555555; position: absolute; z-index: 2; left: 0; right: 0; margin: 0 auto; text-align: center; font-size: 3.8rem; color: #fff; font-weight: 100; line-height: 0; letter-spacing: -1px; padding-top: 7%;}
.off_img{position: absolute; left: 0; right: 0;}
.off_img>img{width: 100%;}
.off_img_m{display: none;}
.off_text_m{display: none;}
.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-7-25 15:40:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 2em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 2em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  



.exp_text>h1{color: #555555; position: absolute; z-index: 2; left: 0; right: 0; margin: 0 auto; text-align: center; font-size: 3.8rem; color: #fff; font-weight: 100; line-height: 0; letter-spacing: -1px; padding-top: 7%;}
.exp_img{position: absolute; left: 0; right: 0;}
.exp_img>img{width: 100%;}
.exp_img_m{display: none;}
.exp_text_m{display: none;}
.buy_text>h1{color: #555555; position: absolute; z-index: 2; left: 0; right: 0; margin: 0 auto; text-align: center; font-size: 3.8rem; color: #fff; font-weight: 100; line-height: 0; letter-spacing: -1px; padding-top: 7%;}
.buy_img{position: absolute; left: 0; right: 0;}
.buy_img>img{width: 100%;}
.buy_img_m{display: none;}
.buy_text_m{display: none;}

/* contents */
#contents>.inner{width: 893px; height: auto;}
.box1{padding-left: 55px; }
.box1>h1{margin: 120px 0 30px 0; font-family:'NotoSansCJKkr-Light'; font-weight: 300; font-size: 3rem;}
.box1>p{font-family:'NotoSansCJKkr-Light'; font-size: 1.8rem; letter-spacing: -1px;line-height: 30px; padding-bottom: 30px;}
.box2{padding-left: 55px;}
.box2>h1{margin: 80px 0 30px 0; font-family:'NotoSansCJKkr-Light'; font-weight: 300; font-size: 3rem;}
.box2>p{font-family:'NotoSansCJKkr-Light'; font-size: 1.8rem; letter-spacing: -0.3px;line-height: 30px; padding-bottom: 30px;}
.box3>h1{margin: 80px 0 30px 0; font-family:'NotoSansCJKkr-Light'; font-weight: 300; font-size: 30px;}
.box3>p{font-family:'NotoSansCJKkr-Light'; font-size: 1.8rem; letter-spacing: -0.9px;line-height: 30px; padding-bottom: 30px;}
.box3{padding-bottom: 80px; padding-left: 55px;}

.off1{width: 100%; height: auto; padding-top: 14%; border-bottom: 1px solid #eee;}
.off1_1{padding-top: 20px; width: 892px;}
.off1_1_l{float: left; height: 318px;}
.off1_1_l>h1{font-size: 4rem;padding-bottom: 25px;} 
.off1_1_l>p{font-size: 2rem; line-height: 30px; letter-spacing: -0.8px; }
.off1_1_r{float: right; padding-bottom: 70px;}
.off1_1:after{display: block; content: ""; clear: both;}

.off2{width: 100%; height: auto; margin: 70px 0 30px 0; border-bottom: 1px solid #eee;}
.off2_1{padding-top: 20px; width: 892px;}
.off2_1_l{float: left; height: 318px;}
.off2_1_l>h1{font-size: 4rem;padding-bottom: 25px;} 
.off2_1_l>p{font-size: 2rem; line-height: 30px; letter-spacing: -1px; }
.mapbtn{width: 140px; height: 45px; background-color: #ffcd38; margin-top: 25px; cursor: pointer; transition: background 0.3s ease-in-out;}
.mapbtn:hover{background-color: #ffac00; color: #fff;}
.mapbtn>p{color: #262626; height: 45px; line-height: 45px; text-align: center; font-size: 1.4rem;}
.mapbtn>p>a{color: #000;}
.off2_1_r{float: right; padding-bottom: 70px;}
.off2_1:after{display: block; content: ""; clear: both;}

.off3{width: 100%; height: auto; margin: 70px 0 30px 0;}
.off3_1{padding-top: 20px; width: 892px;}
.off3_1_l{float: left; height: 318px;}
.off3_1_l>h1{font-size: 4rem;padding-bottom: 25px;} 
.off3_1_l>p{font-size: 2rem; line-height: 30px; letter-spacing: -1.3px; }
.off3_1_r{float: right; padding-bottom: 40px;}
.off3_1:after{display: block; content: ""; clear: both;}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    letter-spacing: -0.05em;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-7-25 15:27:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.9em;
      opacity: 0;
    }
    40% {
      opacity: 0.4;
    }
    60%{
        opacity: 0.7;  
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.9em;
      opacity: 0;
    }
    40% {
      opacity: 0.4;
    }
    60%{
        opacity: 0.7;  
    }
    100% {
      opacity: 1;
    }
  }
  



.poster{padding-top:  15%; text-align: center;}
.poster>img{width: 90%;}
.poster>h1{display: none;}
.exp_class{text-align: center; color: #1d1d1d;}
.exp_class>h1{font-size: 2.6rem; padding-top: 30px; letter-spacing: -1px; }
.exp_class>h1>span{color: #ffcd38;}
.exp_class>p{font-size: 2rem; padding-top: 30px; line-height: 28px; line-height: 1.8;}
.program{text-align: center; padding-top: 50px; }
.program>h1{font-size: 2.6rem; border-top: 1px solid #eee;  padding-top: 50px; }
.program>h2{font-size: 1.8rem; padding: 20px 0;}
.program>p{font-size: 1.8rem; line-height: 3rem;}
.place{text-align: center; padding: 50px 0;}
.place>h1{font-size: 2.6rem;}
.place>h1>img{width: 25px;}
.place_btn{width: 100%; cursor: pointer; transition: background 0.3s ease-in-out;}
.place_btn>p>a{color: #000; font-size: 1.4rem;}
.place_btn>p>a:hover{color: #fff;}
.place_btn>p:nth-child(1):hover{background-color: #0cdf41;}
.place_btn>p:nth-child(2):hover{background-color: #0cdf41;}

.place_btn>p:nth-child(1){float: left; width: 114px; height: 40px; line-height: 40px; border-radius: 70px; margin-left: 310px; margin-top: 20px; text-align: center; background-color: #eee;}
.place_btn>p:nth-child(2){float: right;  width: 114px; height: 40px; line-height: 40px; border-radius: 70px; margin-right: 310px; margin-top: 20px; text-align: center; background-color: #eee;}
.place:after{display: block; content: ""; clear: both;}

#contents>h1{text-align: center; left: 0; right: 0; width: 100%; padding-top: 5%; font-size: 2.6rem;}
.buy_text{text-align: center; padding-left:110px; cursor: pointer;}
.buy_text>li:hover{background-color: #ffcd38; color: #fff;  border: 1px solid #ffcd38;}
.buy_text>li{float: left; width: 90px; border-radius: 30px; border: 1px solid #d8d8d8; height: 35px; line-height: 35px; margin: 32px 10px; font-size: 1.5rem; }
.buy_text:after{display: block; content: ""; clear: both;}
.list{width: calc(100% / 4); float: left; height: 650px;}
.list>img{width: 100%;}
.buy_box{height: 1300px; width: 100%; text-align: center;}
.list:after{display: block; content: ""; clear: both;}
.list>h2{font-size: 2rem; font-weight: 100;}
.list>p{font-size: 1.5rem; font-weight: 100; padding-top: 5px;}
.list>h1{color: #686868; font-size: 2.6rem; padding-top: 10px; letter-spacing: -0.5px;}
.list>h1>span{font-size: 1.5rem;}


/* footer */
#footer{width: 100%; height: 120px; color: #555555; border-top: 1px solid #bbbbbb;}
#footer>.inner{width: 94%; }
#footer>.inner>p{margin-top: 30px; font-weight: 600; font-size: 1.5rem;}
.footicon>li{float: left; padding: 10px 15px 0 0;}
.footicon:after{display: block; content: ""; clear: both;}


/* top_button */

a#topBtn{
  position: fixed;
  bottom: 7%;
  right: 1.2%;
  display: inline-block;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  background-color: #ffcd38;
  transform: scale(0.5);
  opacity: 0;
  transition: 0.2s ease;
  cursor: pointer;
}
a#topBtn.on{
  opacity: 1;
  transform: scale(1);
}
a#topBtn:hover{box-shadow: 0px 2px 7px 2px rgb(194 132 0);
  }



@media (max-width:1400px){
    #header>.inner{width: 95%;}
    .menu{width: 94%; padding-left: 80px; float: left;}
    .box1>h1{margin: 30px 0 30px 0;}
    .off1{padding-top: 0;}
    .poster{padding-top:  0;}
    #contents>h1{padding-top: 0;}
    .buy_box{width: 92%; height: 1000px; margin: 0 auto;}
    .list{height: 500px;}
}

@media (max-width:768px) {
    #header>.inner{width: 95%;}
    .menu{display: none;}
    .logo{height: 36px; line-height: 36px; width: 60px; margin: 0 auto; left: 0; right: 0; top: 25%;}
    #subtitle{height: none;}
    .mobile_menu{display: block;}
    .mobile_menu>a>img{width: 4.5%; padding-top: 3.5%}
    .sto_img{display: none;}
    .sto_img_m{display: block;}
    .sto_img_m>img{width: 100%;}
    .sto_text{display: none;}
    .sto_text_m{display: block; margin: 0 auto; left: 0; right: 0; text-align: center; border-bottom: 1px solid #8e8e8e;font-size: 1.3rem; font-weight: 200; height: 55px; line-height: 55px;}
    .sto_text_m>h1{font-weight: 200; letter-spacing: -2px;}
    .off_img{display: none;}
    .off_img_m{display: block;}
    .off_img_m>img{width: 100%;}
    .off_text{display: none;}
    .off_text_m{display: block; margin: 0 auto; left: 0; right: 0; text-align: center; border-bottom: 1px solid #8e8e8e;font-size: 1.3rem; font-weight: 200; height: 55px; line-height: 55px;}
    .off_text_m>h1{font-weight: 200; letter-spacing: -2px;}
    .exp_img{display: none;}
    .exp_img_m{display: block;}
    .exp_img_m>img{width: 100%;}
    .exp_text{display: none;}
    .exp_text_m{display: block; margin: 0 auto; left: 0; right: 0; text-align: center; border-bottom: 1px solid #8e8e8e; font-size: 1.3rem; font-weight: 200; height: 55px; line-height: 55px;}
    .exp_text_m>h1{font-weight: 200; letter-spacing: -2px;}
    .buy_img{display: none;}
    .buy_img_m{display: block;}
    .buy_img_m>img{width: 100%;}
    .buy_text{display: none;}
    .buy_text_m{display: block;  margin: 0 auto; left: 0; right: 0; text-align: center; border-bottom: 0.8px solid #8e8e8e;font-size: 1.3rem; font-weight: 200; height: 55px; line-height: 55px;}
    .buy_text_m>h1{font-weight: 200; letter-spacing: -2px;}

    #mainimg{background-image: url(../images/mainimg_m.jpg); height: 0px; padding-top: calc(898 / 768 * 100%);position: relative;}
    #mainimg>.inner{width: 98%; top: 0; padding-top: calc(898 / 768 * 100%); position: absolute;}
    .maintext{padding-top: 0px; left: 2%;bottom: 5%;}
    .maintext>p{font-size: 1.4rem;}
    .maintext>h1{font-size: 3.4rem; letter-spacing: -2px;}
    .mainbtn{width: 120px; height: 40px; margin-top: 15px; }
    .mainbtn>p{height: 40px; line-height: 40px; text-align: center; font-size: 13px;}
    @-webkit-keyframes text-shadow-drop-bottom {
        0% {
          text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          text-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
        }
      }
      @keyframes text-shadow-drop-bottom {
        0% {
          text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          text-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
        }
      }
    #contents>.inner{width: 100%;}
    .box1>h1, .box2>h1, .box3>h1{margin: 30px 0 30px 0;}
    .box1>p, .box2>p, .box3>p {font-size: 1.5rem; letter-spacing: -1px;}
    .box1, .box2, .box3{width: 85%; padding-left: 0;margin: 0 auto;}
    .box1>img, .box2>img, .box3>img{width: 100%;}

    .off1, .off2, .off3{width: 90%; left: 0; right: 0; margin: 0 auto; }
    .off1>img, .off2>img, .off3>img{width: 100%;}
    .off1_1, .off2_1 {width: 100%; height: 285px;}
    .off3_1{width: 100%; height: a;}
    .off1_1_l, .off2_1_l, .off3_1_l{width: 50%;}
    .off1_1_l>h1, .off2_1_l>h1, .off3_1_l>h1{font-size: 2.8rem; padding-bottom:10px}
    .off1_1_l>p, .off2_1_l>p, .off3_1_l>p{font-size: 1.7rem; line-height: 27px;}
    .off1_1_r, .off2_1_r, .off3_1_r{width: 50%;}
    .off1_1_r>img, .off2_1_r>img, .off3_1_r>img{width: 100%;}
    .mapbtn{margin-top:10px; width: 33%; height: 12%;}
    .mapbtn>p{line-height: 35px; height: 7%; }

    .exp_class>h1{font-size: 2.3rem;}
    .exp_class>p{font-size: 1.7rem;}
    .poster{padding: 0;}
    .poster>h1{display: block; padding-bottom: 40px; font-weight: 100; font-size: 2.8rem; padding-top: 10px;}
    .place_btn>p:nth-child(1){margin-left: 220px;}
    .place_btn>p:nth-child(2){margin-right: 220px;}

    #contents>h1{display: none;}
    .buy_box{height: 1900px;  width: 91%; margin: 0 auto; padding-left: 0;}
    .buy_box img{width: 100%;}
    .list{width: 50%; height: 460px;}


    #footer{height: auto; padding-bottom: 50px;}
    #footer>.inner>p{}
    #footer>.inner{width: 95%;}

    
  a#topBtn{
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 30px;
    font-size: 1.5rem;
  }
}
